# Включити перезапис правил
RewriteEngine On

# Перевірка, чи існує файл або директорія
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# часть адресов все-таки не должны перенаправляться к CSS, JavaScript, картинкам и так далее
RewriteCond %{REQUEST_URI} !\.(js|css|ico|jpg|png)$

# Перенаправлення всіх запитів на index.php
RewriteRule ^(.*)$ index.php [L,QSA]

#^(.*)$: Відповідає будь-якому запиту.
#index.php: Файл, на який перенаправляються всі запити.
#[L]: Позначає, що це останнє правило.
#[QSA]: Зберігає всі параметри запиту (наприклад, ?param=value).